.weight {
  width: 120px;
  text-align: center;
  color: white;
  align-content: center;
  horiz-align: center;
  margin: auto;
}

button{
  margin: 5px;
}

.buttons{
  align-content: center;
  display: flex;
}
